.txcm-listFilter {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  width: calc(100% + 16px);
  margin: 0 0 6px;
  background: inherit;
  transform: translateX(-8px);

  &::before {
    @include txmx-pseudo;
    z-index: -1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background: inherit;
  }

  &-slice {
    @extend %txph-listFilter-slice;
    width: 100%;
    margin: 8px 0 10px;
    transform: none;

    &::before {
      display: none;
    }

    @include txmx-mq(phone) {
      flex-grow: 1;
      flex-basis: 40%;
      width: auto;
      margin: 0 8px 0 0;
    }
  }
}
