$txcm-factorValue-color: $txgl-white-900;

.txcm-factorValue {
  @extend %txph-factorValueLayout;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  margin: -0.825em 0 0;
  color: $txcm-factorValue-color;
  line-height: 1.75;
  white-space: nowrap;

  %txph-factorColumn-odd & {
    left: 16px;
  }
}
