.txcm-factorCell {
  @extend %txph-dataTableCell;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    @include txmx-pseudo;
    top: -9px;
    right: 0;
    bottom: -9px;
    width: 1px;
    background: $txgl-dataTable-borderColor;
  }

  &::after {
    @extend %txph-dataTableColumnLayout;
    @include txmx-pseudo(relative);
    order: -1;
    margin: 0 18px 0 0;
  }

  &:last-child {
    order: 1;
    margin: 0;

    &::before {
      display: none;
    }
  }

  @include txmx-mq(tablet) {
    flex-grow: 1;
    width: auto;
    min-width: 0;
    max-width: initial;

    &::before {
      display: none;
    }
  }
}
