.txcm-datepickerHolder {
  position: relative;
  flex-shrink: 0;
  margin: 0 $txgl-filter-margin;

  %txph-filter & {
    display: none;
  }

  @include txmx-mq(tablet) {
    %txph-header & {
      display: none;
    }

    %txph-filter & {
      display: block;
      pointer-events: all;
    }
  }
}
